{{template "layout" .}} {{define "css"}}

<link rel="stylesheet" href="css/availability.css">

{{end}} {{define "content"}}

<form id="availabilityJSON" action="/postAvailability" method="post">
  <input id="csrf" type="hidden" name="csrf_token" value="{{.CSRF}}" />
  <div class="mb-3 column" style="padding-left: 25px">
    <label for="sdate" class="form-label required">Starting Date</label>
    <input
      type="date"
      class="form-control"
      id="sdate"
      aria-describedby="startDateHelp"
      name="sdate"
      placeholder="تاریخ شروع اقامت خود را وارد کنید"
      oninvalid="this.setCustomValidity('لطفا تاریخ را به درستی وارد نمایید')"
    />
  </div>
  <br /><br /><br /><br />
  <div class="mb-3 column" style="padding-left: 25px">
    <label for="edate" class="form-label required">Ending Date</label>
    <input
      type="date"
      class="form-control"
      id="edate"
      name="edate"
      placeholder="تاریخ پایان اقامت خود را وارد کنید"
      oninvalid="this.setCustomValidity('لطفا تاریخ را به درستی وارد نمایید')"
    />
  </div>
  <br /><br /><br /><br />
  <button type="submit" class="btn btn-primary" style="margin: 0px 25px">
    Submit
  </button>
  <button
    class="button"
    style="vertical-align: middle"
    type="button"
    onclick="custom({msg:'', title:''})"
  >
    <span>Check Availability</span>
  </button>

  <script>
    async function custom(c) {
      const { value: result } = await Swal.fire({
        title: "Check Availability",
        html:
          '<label for="stdate" class="form-label required">Start Date</label>' +
          '<input type="date" id="stdate" class="swal2-input"><br />' +
          '<label for="endate" class="form-label required">End Date</label>' +
          '<input type="date" id="endate" class="swal2-input">',
        focusConfirm: false,
        backdrop: false,
        showCancelButton: true,
        preConfirm: () => {
          return [
            document.getElementById("stdate").value,
            document.getElementById("endate").value,
          ];
        },
      });

      if (result) {
        if (result.dismiss !== Swal.DismissReason.cancel) {
          if (result.value !== "") {
            document.getElementById("sdate").value = result[0];
            document.getElementById("edate").value = result[1];

            let form = document.getElementById("availabilityJSON");
            let formData = new FormData(form);
            formData.append("name", "Hossein");
            formData.append("password", "Hossein123");

            fetch("/availabilityJSON", {
              method: "post",
              body: formData,
            })
              .then((Response) => Response.json())
              .then((data) => {
                console.log(data);
                console.log(data.message);
              });
          } else {
            console.log(false);
          }
        } else {
          console.log(false);
        }
      }
    }
  </script>
</form>

{{end}}
