{{template "layout" .}} {{define "css"}}

<style>
  .column {
    float: left;
    width: 25%;
  }
  .required:after {
    content: " *";
    color: red;
    display: inline;
  }
</style>

{{end}} {{define "content"}}

<form method="post" action="/PostBook">
  {{$res := .Data}}
  <input id="csrf" type="hidden" name="csrf_token" value="{{.CSRF}}" />
  <div class="mb-3 column" style="padding-left: 25px">
    <label for="name" class="form-label">First Name</label>
    {{with .Form.Errors.Get "name"}}
    <label class="text-danger">{{.}}</label> {{end}} <input type="text"
    class="form-control {{with .Form.Errors.Get "name"}} is-invalid {{end}}"
    id="name" aria-describedby="nameHelp" name="name" value="{{$res.Name}}"
    placeholder="نام خود را وارد کنید" />
  </div>
  <br /><br /><br /><br />
  <div class="mb-3 column" style="padding-left: 25px">
    <label for="lname" class="form-label">Last Name</label>
    {{with .Form.Errors.Get "lname"}}
    <label class="text-danger">{{.}}</label> {{end}}
    <input
      type="text"
      class="form-control {{with .Form.Errors.Get "lname"}} is-invalid {{end}}"
      id="lname"
      aria-describedby="lnameHelp"
      name="lname"
      value="{{$res.Lname}}"
      placeholder="نام خانوادگی خود را وارد کنید"
      oninvalid="this.setCustomValidity('لطفا نام خانوادگی را به درستی وارد نمایید')"
    />
  </div>
  <br /><br /><br /><br />
  <div class="mb-3 column" style="padding-left: 25px">
    <label for="email" class="form-label">Email</label>
    {{with .Form.Errors.Get "email"}}
    <label class="text-danger">{{.}}</label> {{end}}
    <input
      type="email"
      class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
      id="email"
      aria-describedby="emailHelp"
      name="email"
      value="{{$res.Email}}"
      placeholder="ایمیل خود را وارد کنید"
    />
  </div>
  <br /><br /><br /><br />
  <div class="mb-3 column" style="padding-left: 25px">
    <label for="phone" class="form-label">Phone Number</label>
    <input
      type="text"
      class="form-control"
      id="phone"
      aria-describedby="phoneHelp"
      name="phone"
      value="{{$res.Phone}}"
      placeholder="شماره تماس خود را وارد کنید"
      oninvalid="this.setCustomValidity('لطفا شماره تماس را به درستی وارد نمایید')"
    />
  </div>
  <br /><br /><br /><br />
  <button type="submit" class="btn btn-primary" style="margin: 0px 25px">
    Submit
  </button>
</form>

{{end}}
