{{template "layout" .}}

{{define "css"}}
    
    <style>
        .col{
        text-align: center;
        text-justify: inter-word;
        padding-top: 400px;
        }    
    </style>
    
{{end}}


{{define "content"}}
    <div class="container">
        <div class="col">
            
            
        </div>
    </div>
{{end}}




<!--
            <span>This is Homepage!</span>
            <p>
                {{if ne (.IP) "" }}
                Your IP Address is {{.IP}}.
                {{else}}
                I dont know your IP address.
                {{end}}
            </p>
            
            <p>{{index .Data "child"}}</p>
                <p>{{.Data}}</p>
            -->